{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My To-Do List</title>
  <!-- Bootstrap-->
  <link rel="stylesheet" href="{% static 'todo/css/bootstrap.css' %}">
</head>

<body>
  <nav style="background-color: #0c7070;" class="navbar">
    <div class="container">
      <a class="navbar-brand" href="#" style="color: white;">My To-Do List</a>
    </div>
  </nav>
  <br>
  <div class="container border" style="background-color: #76cfcf;">
    <div class="row my-5">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <form id="form-Task">
              <div class="form-group">
                <input type="text" autofocus id="title" class="form-control" maxlength="50" autocomplete="off" placeholder="Title"
                  required>
              </div><br>
              <div class="form-group">
                <textarea id="description" cols="30" rows="10" class="form-control" maxlength="500" autocomplete="off"
                  placeholder="Description" required></textarea>
              </div><br>
              <button type="submit" id="save-button" data-editstate="false" class="btn btn-success btn-block">Save</button>
            </form>
          </div>  
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-3 text-left">
            <p style="text-align: center;" class="fw-bold">Title</p>
          </div>
          <div class="col-sm-6 text-left">
            <p style="text-align: center;" class="fw-bold">Description</p>
          </div>
          <div class="col-sm-3 text-right">
            <p style="text-align: center;" class="fw-bold fon">Edit / Delete</p>
          </div>
        </div>
        <hr>

        {% for todo in todos %}
        <div class="card mb-3" id="card{{todo.id}}">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3 text-left">
                        <p style="text-align: center;" id="title-{{todo.id}}" class="fw-bold">{{todo.title}}</p>
                    </div>
                    <div class="col-sm-7 text-left">
                        <p style="text-align: center;" id="description-{{todo.id}}">{{todo.description}}</p>
                    </div>
                    <div class="col-sm-1 text-right">
                      <a href="#" onclick="editTask('{{todo.id}}')" class="btn btn-info ml-5">Edit</a>
                  </div>
                    <div class="col-sm-1 text-right">
                      <a href="#" onclick="deleteTask('{{todo.id}}')" class="btn btn-danger ml-5">X</a>
                  </div>
                </div>
           </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

<script src="{% static 'todo/script.js' %}"></script>

</body>

</html>