{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Todo List</title>
  <!-- Bootstrap-->
  <link rel="stylesheet" href="{% static 'todo/css/bootstrap.css' %}">
</head>

<body>
  <nav style="background-color: black;" class="navbar">
    <div class="container">
      <a class="navbar-brand" href="{% url 'todo:home' %}" style="color: white;">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-card-checklist" viewBox="0 2 17 17">
            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
            <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
        </svg>
        Todo List
      </a>
      {% if user.is_authenticated %}
      <h5 style="color: white;">Hello : {{ user.username }} | <a href="{% url 'todo:logout' %}">Logout</a></h5>
      {% else %}
      <h5 style="color: white;"><a href="{% url 'todo:login' %}">Login</a> | <a
          href="{% url 'todo:signup' %}">Signup</a></h5>
      {% endif %}
    </div>
  </nav>
  <br>
  <div class="container border" style="background-color: #76cfcf;">
    <div class="row my-5">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <form id="form-Task" novalidate>
              {% csrf_token %}
              <div class="form-group">
                <textarea id="todotext" cols="30" rows="10" class="form-control" maxlength="500" autocomplete="off"
                  placeholder="Write your Todo here ..." required autofocus></textarea>
              </div><br>
              <button type="submit" id="save-button" data-editstate="false"
                class="btn btn-success btn-block">Save</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-6 text-left">
            <p style="text-align: center;" class="fw-bold">task</p>
          </div>
          <div class="col-sm-3 text-right">
            <p style="text-align: center;" class="fw-bold fon">Edit / Delete</p>
          </div>
        </div>
        <hr>
        {% for todo in todos %}
        <div class="card mb-3" id="card-{{todo.id}}">
          <div class="card-body">
            <div class="row">
              <div class="form-check col-sm-8 text-left">
                <input {% if todo.checked %} checked="true" {% endif %} class="form-check-input" type="checkbox"
                  onchange="checkTask('{{todo.id}}')" id="check-{{todo.id}}">
                <label class="form-check-label" for="check-{{todo.id}}">
                  <p {% if todo.checked %} class="text-decoration-line-through" {% endif %} for=""
                    id="task-{{todo.id}}">{{todo.task}}</p>
                </label>
              </div>

              <div class="col-sm-2 text-right">
                <a onclick="editTask('{{todo.id}}')" class="btn btn-info ml-5">Edit</a>
              </div>
              <div class="col-sm-2 text-right">
                <a onclick="deleteTask('{{todo.id}}')" class="btn btn-danger ml-5">X</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

  <script src="{% static 'todo/script.js' %}"></script>
  <script src="{% static 'todo/js/bootstrap.bundle.js' %}"></script>
</body>
</html>